.sidebar{
    flex:1;
    height: calc(100vh - 50px);
    position: sticky;
    top:50px;
    background-color: rgb(231, 229, 224);
}

.sidebarWrapper{
    padding: 20px;
}
.sidebarTitle{
    font-size: 15px;
    color: rgb(145, 140, 140);
}

.sidebarList{
    list-style: none;
    padding: 3px;
}   
.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarListItem{
    padding: 5px;
    cursor:pointer;
    display:flex;
   border-radius: 10px;
    align-items: center;
}

.sidebarListItem.active , .sidebarListItem:hover{
    background-color: rgb(203, 203, 252);

}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

