.topbar {
    width: 100%;
    height: 50px;
    position: sticky;
    top:0px;
    background-color: teal;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
    cursor: pointer;
}


.topbarIconContainer {
    display: flex;
    align-items: center;

}
.icon{
    margin: 0px 4px;
    cursor: pointer;
}
.profImg{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}